* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: sans-serif; */
}
body{
    background-color: black;
}
#homepage {
    /* position: absolute; */
    /*     margin-top: 50px; */
    height: 93vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: -1;
    gap: 20px;
    color: white;
    font-family: sans-serif;
}

h2 {
    font-size: 33px;
    /* color: black; */
}

#homepage p {
        width: 80%;
    font-size: 18px;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    box-shadow: 0px 0px 9px white;
    /* border-bottom: 1px solid white; */
    font-size: larger;
    z-index: 4;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: white;
    font-family: cursive;
    cursor: pointer;
}

/* #logo:hover {
    /* background-color: white;
    color: black;
    text-shadow: -10px 10px 10px white,
        -10px -10px 10px white,
        10px -10px 10px white,
        10px 10px 10px white;
} */

#a {
    color: red;
    font-size: 00px;
    animation: harshit 2s linear 2s 1 forwards;
    transition: all 0.2s linear 0s;
}

@keyframes harshit {
    0% {
        font-size: 00px;
    }

    35% {
        font-size: 40px;
    }

    70% {
        font-size: 60px;
    }

    100% {
        padding-bottom: 11px;
        font-size: 40px;
    }
}

#a:hover {
    transform: scale(1.2);
}

#menu {
    margin-right: 20px;
}

ul {
    display: flex;
    list-style: none;
    gap: 12px;
    font-weight: bold;
}

ul a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: black;
    background-color: white;
    box-shadow: -10px 10px 10px white,
        -10px -10px 10px white,
        10px -10px 10px white,
        10px 10px 10px white;
    /* border-radius: 15px; */
    /* transition: all 2s ; */
    /* transform: scaleX(2); */
}

#home::before {
    content: "";
    background-image: url("background.jpg");
    background-size: 100% 100vh;
    position: fixed;
    background-repeat: no-repeat;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100vh;
    z-index: -5;
    /*     opacity: 0.9; */
}

a {
    text-decoration: none;
    color: white;
}

.container {
    height: 93vh;
    width: 100%;
    display: flex;
    font-family: sans-serif;
}

#container2 {
    transition: all 2s linear;
    padding-top: 20px;
}

#container1 {
    position: inherit;
    z-index: -10;
    width: 100%;
    height: 93vh;
}

#container2,
#container3,
#container4 {
    background-color: black;
    color: white;
}

#container3 {
    display: flex;
    height: 125vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 76px;
    padding-top: 40px;
}

.item {
    width: 250px;
    height: 300px;
    /* border: 2px solid white; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px -1px 35px white;
    text-shadow: 6px 5px 4px black;
    font-size: 30px;
    background-color: grey;
    color: black;
}

#container4 {
    height: 65vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#contact1,
#contact2 {
    height: 93vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact1 {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    margin-left: 10px;
}

#email {
    width: 285px;
    height: 24px;
    border-radius: 10px;
    background-color: black;
    border: 2px solid white;
}

#quiry {
    width: 285px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    border: 2px solid white;
}

input {
    caret-color: white;
    color: white;
    margin-top: 5px;
}

button {
    margin: 10px;
    width: 60px;
    height: 20px;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 7px;
}

#about1,
#image {
    height: 93vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about1 {
    font-size: 20px;
    padding-left: 30px;
}

#image img {
    width: 350px;
    height: 75vh;
    border-radius: 80px 80px;
    box-shadow: 0px 0px 40px white;
}

.head {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
}

/*#container2,#container2{
content: "";
background-color: black;
position: fixed;
 width:100%;
    height: auto; 
z-index: -5;
}*/
/* footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 100%;
    background-color: black;
    color: white;
    border-color: white;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
} */
footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 100%;
    height: 250px;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
}

#links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#link1,
#social {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /* font-family: monospace; */
    font-weight: bold;
    /* padding-bottom: 20px; */
}

hr {
    background-color: white;
}

@media (min-width:320px) and (max-width:980px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
    }

    #container3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100%;
        gap: 400px;
    }

    #container3 {
        gap: 40px;
        flex-wrap: inherit;
    }

    #about1,
    #image {
        height: fit-content;
    }

    #about1 {
        width: 100%;
    }

    #container2 {
        gap: 40px;
    }

    #container2,
    #container4 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: fit-content;
        gap: 35px;
        padding-top: 35px;
    }

    #contact1,
    #contact2 {
        width: 50%;
        height: fit-content;
        justify-content: flex-start;
        font-size: 30px;
    }

    .container {
        padding-top: 50px;
    }

    #email,
    #quiry {
        width: 200%;
        margin-left: auto;
        margin-right: auto;
    }
    h2{
        text-align: center;
    }
    #image img{
        height: 30vh;
    }
    .head{
        text-align: center;
        font-size: 65px;
    }
.item{
    width: 50%;
    height: 400px;
}
#copyright{
    font-size: 30px;
}
}